body {
    background-color: #EFEFEF;
    padding: 20px 15px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.card {
    position: relative;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    margin-bottom: 30px;
}

.card-header {
    position: relative;
    background: #f8f8f8;
    padding: 15px;
}

.card-body {
    padding: 15px;
}

.stats {
  text-align: right;
}

.stats li {
  display: inline-block;
  font-size: 1.4em;
  height: 64px;
  border-radius: 32px;
  text-align: center;
  line-height: 64px;
  margin-left: 10px;
}